body {
    font-family: "Arial", sans-serif;
}

h1 {
    font-weight: bold;
}

.btn {
    border-radius: 8px;
    font-size: 1.2rem;
}

.btn-success:hover {
    background-color: #28a745;
}

.btn-info:hover {
    background-color: #17a2b8;
}