body {
    font-family: "Arial", sans-serif;
}

h1 {
    font-weight: bold;
}

.btn {
    border-radius: 8px;
    font-size: 1.2rem;
}

.btn-success:hover {
    background-color: #28a745;
}

.btn-info:hover {
    background-color: #17a2b8;
}

/*Boton de volver a la vista principal*/
.back-button {
    position: fixed;
    /* Para que siempre esté visible */
    top: 20px;
    left: 20px;
    text-decoration: none;
    font-size: 1.2rem;
    color: #fff;
    /* Cambia según el fondo */
    font-weight: bold;
    background: #007bff;
    /* Color azul estilo botón */
    padding: 10px 15px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    gap: 8px;
    transition: background 0.3s;
}

.back-button:hover {
    background: #0056b3;
    /* Un tono más oscuro al pasar el mouse */
}

.back-button i {
    font-size: 1.2rem;
}