<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Ver Gastos</title>
    <!-- Bootstrap CSS -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <!-- Bootstrap Icons -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css"
    />
  </head>
  <body class="bg-light">
    <div class="container mt-5">
      <!-- Botón para volver -->
      <a
        href="/"
        class="btn btn-outline-secondary position-absolute top-0 start-0 m-3"
      >
        <i class="bi bi-arrow-left"></i> Volver
      </a>

      <div class="card shadow-lg">
        <div class="card-body">
          <h1 class="text-center mb-4">Lista de Gastos</h1>

          {% if mensaje %}
          <div class="alert alert-success text-center">{{ mensaje }}</div>
          {% endif %}

          <h2 class="mb-3">Gastos Registrados:</h2>

          <table class="table table-striped">
            <thead class="table-dark">
              <tr>
                <!--th>Nro Registro</th-->
                <th>Fecha</th>
                <th>Categoría</th>
                <th>Descripción</th>
                <th>Cantidad</th>
              </tr>
            </thead>
            <tbody>
              {% for gasto in gastos %}
              <tr>
                <!--td>{{ gasto[4] }}</td-->
                <td>{{ gasto[3] }}</td>
                <td>{{ gasto[2] }}</td>
                <td>{{ gasto[1] }}</td>
                <td>${{ gasto[0] }}</td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>

    <!-- Bootstrap JS -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
  </body>
</html>
